@import '~bootstrap/dist/css/bootstrap.min.css';
@import './fontawesome.min.css';
@import './solid.min.css';
@import './scssHelpers.scss';

body {
  font-family: 'Comic Sans MS', 'ubuntu';
  background-image: url('/img/s1.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.app {
  &__header {
    position: relative;
    background: steelblue;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);
  }
  &__header-fg {
    display: flex;
    align-items: center;
    padding: 15px;
  }
  &__logo {
    width: 30px;
  }
  &__body {
    min-height: calc(100vh - 60px);
    padding-top: 20px;
    background: #fff;
    box-shadow: inset 12px 0 25px -15px rgba(0, 0, 0, 0.9),
      inset -12px 0 25px -15px rgba(0, 0, 0, 0.9);
  }
  &__nav-link {
    padding: 0px 5px;
    margin-right: 20px;
    border-radius: 12px;
    color: #fff;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: #fff;
    }
    &_active {
      background: #fff;
      color: steelblue;
      &:hover {
        color: steelblue;
        text-decoration: none;
        cursor: default;
      }
    }
  }
  &__splash-screen {
    display: block;
    width: 100%;
    border-radius: 10px;
  }
}

input.form-control,
input.form-control:focus,
textarea.form-control,
textarea.form-control:focus {
  color: #222;
}

.form-control {
  &__inline {
    width: auto;
  }
}

.fa {
  color: steelblue;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.fake-link {
  display: inline-block;
  &__button {
    padding: 0;
    border: none;
    background: transparent;
  }
}

.error {
  color: #c9302c;
}

// spinner START
$offset: 187;
$offsetBold: 180;
$duration: 1.8s;

.spinner {
  width: 25px;
  height: 25px;
  animation: rotator $duration linear infinite;
  &__path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite;
    stroke: steelblue;
    fill: none;
    stroke-linecap: round;
    r: 30;
    stroke-width: 6;
    &_bold {
      r: 24;
      stroke-width: 9;
      animation: dashbold $duration ease-in-out infinite;
    }
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}

@keyframes dashbold {
  0% {
    stroke-dashoffset: $offsetBold;
  }
  50% {
    stroke-dashoffset: $offsetBold/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offsetBold;
    transform: rotate(450deg);
  }
}
// spinner END
